/*ESTLOS GENERALES START*/


/*=======================================================================*/

.whatsapps{
    width: 58px;
    height: 60px;
    text-align: center;
	
	font-size: 60px;
	
    color: white; 
    cursor: pointer;
    position: fixed;
    bottom: 100px;
    right: 20px;
    z-index: 2;
    line-height: 60px;
    border-radius: 50%;
    
}
.whatsapps::before,.whatsapps::after{
    content: '';
 position: absolute;  
	
	
    display: block;
    border: 50%;
    border: 1px solid #25d366;
    left: -15px;
    right: -15px;
    top: -15px;
    bottom:-15px;
    border-radius: 50%;
    animation: onda 1.5s linear infinite;
    opacity: 0;
    backface-visibility: hidden;
    z-index: -1;
}

.whatsapps::after{
    animation-delay: .5s; 
}
@keyframes onda
    {
       0%{
            transform: scale(0.5);
            opacity: 0;
       }
       50%{
            opacity: 1;
       }
       100%{
            transform: scale(1.2);
            opacity: 0;
       }    
    }
.whatsapps a{
    display: block;
    height: 100%;
    border-radius: 50%;
    color: white;
     background-color: #25d366;
	background-color:#25d366;
	
	
	
	
	
	
	transition: .5s;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .5);
}
.whatsapps a:hover{
    background: #075e54;
}