@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700|Oswald:300,400|Montserrat:400,700);

h1, h2, h3,  button, .button {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	-webkit-font-smoothing: antialiased;
	text-rendering: geometricPrecision;
}

h4, h5, .categoria {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	text-rendering: geometricPrecision;
}
	
.btn-send {
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	text-rendering: geometricPrecision;
}
	
nav li a, nav > div > div > a, .compartir {
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	text-rendering: geometricPrecision;
}

p, a, li, label, input, textarea, select, input.button, #cboxTitle  { 
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

/* general */

body {
	-webkit-font-smoothing:antialiased;
	background:#fff;
	overflow-x:hidden;
	border-top:2px solid #ff0000;
}

::selection {
	background:#0052b2;
	color:#fff;
	}

::-moz-selection {
	background:#0052b2;
	color:#fff;	
}

p {
	line-height: 1.5rem;
	font-size: 0.875rem;
	color:#1b1b1b;
}

ul {
	padding:0;
	margin:0 0 20px 0;
	list-style:none;
}

li {
	line-height: 1.25rem;
	font-size: 0.875rem;
	padding:15px 15px 15px 0px;
	border-bottom:1px dotted #d1d1d1;
	-moz-transition:all 0.3s ease-in;
	-webkit-transition:all 0.3s ease-in;
	-o-transition:all 0.3s ease-in;
	transition:all 0.3s ease-in;
	-ms-transition:all 0.3s ease-in;
}

li li { border:none; border-top:1px dotted #d1d1d1; }

ul ul { padding-top:10px; margin:0; }

h1 { 
	display:block; 
	width:100%; 
	height:80px; 
	margin:0; 
	padding:0; 
	float:left; 
	text-indent:-5555px; 
}

h1 > a { 
	display:block; 
	width:100%; 
	height:80px; 
	background:url(img/logo.png) no-repeat top left;
}

h1 > a:hover { 
	opacity:0.5;
}

h2 { color:#0052b2;
	font-size:2.25rem;
	margin:0 0 30px 0;
	padding:0;
	text-transform:uppercase;
	word-wrap: break-word;
}

h3 {
	color:#1e1e1e;
	font-size: 1.25rem;
	margin:0 0 20px 0;
	padding:0;
	text-transform:uppercase;
	word-wrap: break-word;	
}

h4 {
	color:#1e1e1e;
	font-size: 1rem;
	margin:0 0 20px 0;
	text-transform:uppercase;
	word-wrap: break-word;
}

h5 {
	color:#1e1e1e;
	font-size: 0.875rem;
	margin:0 0 20px 0;
	text-transform:uppercase;
	line-height:1.5rem;
}

a {
	outline:none;
	text-decoration:none;
	-moz-transition:all 0.3s ease-in;
	-webkit-transition:all 0.3s ease-in;
	-o-transition:all 0.3s ease-in;
	transition:all 0.3s ease-in;
	-ms-transition:all 0.3s ease-in;
}

strong, b {
    font-weight: 900;
}

/* boton */

button, .button {
  background-color:#0052b2;
  color:#fff;
  font-size: 0.6875rem !important;
  padding:0.8125rem 1.375rem;
  text-transform:uppercase;
  letter-spacing:1px;
  /*-webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;*/
}

button:hover, .button:hover {
  background-color:#da0c0c;
  color:#fff;  
}

button:focus, .button:focus {
  background-color:#0052b2;
  color:#fff;  
}

blockquote {
	border-bottom:2px solid #0052b2;
	padding:20px 25px 20px 25px;
	margin:0 0 20px 0;
	border-left:none;
}

blockquote p {
	padding:0;
	margin:0;
	color:#000;
	font-size:1.125rem;
	letter-spacing:0.2px;
	font-weight:normal;
}

blockquote strong {
	font-weight:700 !important;
}

hr {
	border:none;
	border-bottom:1px solid #252525;
	height:20px;
	width:100%;
	margin:0 0 35px 0;
}

/* header */

.phone { 
background:#000; 
color:#fff;
height:42px;
line-height:42px;
border-radius:22px;
display:inline-block;
padding:0 15px;
}
.phone .fa { 
margin-left:5px;
}

header {
	/* el padding es para colocarle altura al header */
	padding: 25px 0;
	width: 100%;
	position:relative;
	background:white;
}

header p { margin-top: 15px !important; margin-bottom: 0; line-height: 42px; }

.dark { background:#000; }

/* social */

.social-header { margin: 0 auto; display: inline-block; }

.social-header a .fa {
	line-height: 42px;
}

.social-header a {
	display: inline-block;
	float: left;
	width: 42px;
	height: 42px;
	text-align: center;
	color: #FFF;
	background: #000;
	border-radius: 50%;
	margin: 0 4px;
}

.social-header a:hover {
	background: #0052b2;
}

.social {
	width:172px;
	height:60px;
	list-style:none;
	padding:15px 20px;
	position:absolute;
	top:-105px;
	left:50%;
	margin-left:-86px;
	border-radius:4px;
	
	-webkit-background: linear-gradient(#00326d, #0052b2);
	-moz-background: linear-gradient(#00326d, #0052b2);
	background: linear-gradient(#00326d, #0052b2);	
}

.social li {
	padding:0;
	margin:2px;
	border-bottom:none;
	text-align:center;
	background:none;
	float:left;
}

.social a {
	display:block;
	width:40px;
	height:40px;
	padding:13px 0 0 0;
	text-align:center;
	background:#FFFFFF;
	color:#0052b2;
	border-radius:50%;
}

.social .fa { padding:0; margin:0;}

.compartir { margin:13px 10px 0 0 !important; text-transform:uppercase; color:#fff;}

.fac:hover { background:#0052b2; color:#f2f2f2;}

.twi:hover { background:#0052b2; color:#f2f2f2;}

.goo:hover { background:#0052b2; color:#f2f2f2;}

.you:hover { background:#0052b2; color:#f2f2f2;}

/* nav - menu */

nav {
	width:100%;
	display:block;
	
	
	/* codigo de color del menu desplegable */
	background: #333;
	margin:0;
	
	
	
	
}





nav .fa {
	padding:0 8px 0 0;
}

nav > div > div > a { 
	display:none;
}

nav ul {
	margin:0;
	padding:0;
	list-style:none;
	height:54px;
	z-index:99;
}

nav li {
	padding:0;
	border:none;
	background:none;
	margin:0;
	float:left;
	position:relative;
	line-height:0.9375rem;
}

nav li a {
	display:block;
	text-align:center;
	color:#fff;
	padding:0 30px;
	line-height: 54px;
	font-size:0.8125rem;
	height:54px;
	text-transform:uppercase;
	font-weight:800;
}

nav li a:hover {
	color:#fff;
	background:#000;
}

nav li:hover > ul, nav li:focus > ul { display:block;}

nav li ul {
	background:#333333;
	list-style:none;
	margin:0 !important;
	padding:0!important;
	width:280px;
	height:auto;
	position:absolute;
	z-index:999;
	top:50px;
	left:0px;
	display:none;
	border: none;
	box-shadow:3px 3px 3px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:3px 3px 3px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow:3px 3px 3px rgba(0, 0, 0, 0.3);
}

nav li ul li ul {
	list-style:none;
	margin:0 !important;
	padding:0!important;
	width:280px;
	height:auto;
	position:absolute;
	z-index:999;
	top:-1px;
	left:280px;
}

nav li ul li {
	padding:0;
	margin:0;
	text-align:left;
}

nav li li a {
	color:#fff;
	padding:0 0 0 20px;
	text-align:left;
	display:block;
	line-height: 44px;
	height:44px;
	width:280px;
	font-size:0.8125rem;
	border: none;
	border-bottom:1px solid rgba(0,0,0,.3);
	border-radius:0px;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
}

nav li li a:hover {
	background:#000;
	color:#fff;		
}

nav li ul span {
	float:right;
	padding:0 20px 0 0;
}

/* slide */

#banner h2, #banner p {
	color: #fff;
	text-shadow: 0 0 10px rgba(0,0,0,.4);
}

#banner h2 {
	margin-top: 340px;
}

#banner {
	padding:0;
	width:100%;
	height:500px;
	margin:0 auto;
	position:relative;
	background:#f4f4f4;
	clear:both;
	position: relative;
	z-index: 10;
}

.slide {
	position:relative;
	overflow:hidden;
	background:#f4f4f4;
}

.slide ul {
	margin:0;
	padding:0;
	position:relative;
}

.slide li {
	list-style:none;
	height:500px;
	float:left;
	margin:0;
	padding:0;
	border:none;
	-webkit-background-size:auto auto !important;
	background-position:center center;
}

.slide .dots {
    bottom:20px;
    left:50%;
	margin-left:-22px;
    position:absolute;
	padding:0;
}

.slide .dots li {
    border:1px solid #fff;
    border-radius:6px 6px 6px 6px;
    cursor:pointer;
    display:inline-block;
    height:6px;
    width:6px;	
    margin:0 4px;
    opacity:0.4;
    text-indent:-999em;
    transition:background 0.5s ease 0s, opacity 0.5s ease 0s;
	padding:0;
    background:none;
}

.slide .dots li.active {
    background:none repeat scroll 0 0 #fff;
    opacity:1;
}

.prev, .next { position:absolute;top:50%;z-index:4;display:block;height:50px;width:50px;text-align:center;}

.prev, .prev:focus { left:10px;background:transparent;color:#0052b2;border:5px solid #0052b2; }

.prev:hover { color:#000; border-color:#000; }

.next, .next:focus { right:10px;background:transparent;color:#0052b2;border:5px solid #0052b2; }

.next:hover { color:#000; border-color:#000; }

.next .fa { padding:0 0 0 5px; line-height: 43px; }

.prev .fa { padding:0 5px 0 0; line-height: 43px; }

/* contenido */

section { margin:0 auto; padding:40px 0; background: #fff; }

section > .row { padding-top: 40px; padding-bottom: 40px; }

section a { color:#0052b2; }

section a:hover { color:#6d6e71; }

section li { line-height:18px; color: #1d1d1e; }

section li a:hover { padding:0 0 0 5px; }

.secimg { 
	float:left;
	padding:7px 20px 20px 0;
}

.fowid { 
	background:#000000;	
	padding: 60px 0 20px 0;
	margin-bottom:50px;

	-webkit-background: linear-gradient(#e6e6e6, #fff);
	-moz-background: linear-gradient(#e6e6e6, #fff);
	background: linear-gradient(#e6e6e6, #fff);
}

.fowid > .row {
	padding-bottom:20px;
	border-bottom:2px solid #0052b2;
}

.fowid .button { margin:0; }

.fowid h2 {
	color:#0052b2;
}

.panel { background:#f2f2f2; border-bottom:2px solid #0052b2; }

.panel li { border-bottom:1px solid #dedede; }

.panel h3, .panel h4 { margin:0 0 20px 0; }

.panel.callout { background:#36a492; }

.panel.callout h3 { font-size:1rem; color:#1d1d1e; margin:0 0 15px 0; }

.panel.callout p { font-size:0.8125rem; color:#1d1d1e; margin:0 0 15px 0; }

.panel.callout a { color:#000 !important; }

.panel.callout a:hover { color:#fff !important; }

/* clientes */

.clien {
	width:190px;
	background:#f7f7f7;
	margin:1px 1px 0 0;
	padding:8px;
	float:left;

	position:relative;
	text-align:center;
}

.clien .imgch {
	max-width: 100%;
}

/* aside */

aside {
	background:url(img/aside.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	background-attachment:fixed;
	
	padding:100px 0 70px 0;
	margin:0 auto;
	/*box-shadow:inset 0 0 30px #000000;*/
}

aside h3, aside p {
	margin:0;
}

aside a {
	text-transform:uppercase;
	color:#07944a;
	line-height:31px;
}

aside a:hover {
	color:#ed1c24;
}

/* footer */

footer {
	width:100%;
	padding:70px 0 0 0;
	margin:0 auto;
/*-webkit-background: linear-gradient(#0052b2, #002c5d);*/
	background: #626DFB;
	border-top:1px solid #e7e7e7;
	/*-webkit-background: linear-gradient(#0052b2, #002c5d);
	-moz-background: linear-gradient(#0052b2, #002c5d);
	background: linear-gradient(#0052b2, #002c5d);*/
}

footer h3 { color:#FFF; margin:0 0 40px 0; padding-bottom:20px; border-bottom:1px dotted #fff; }

footer h4 { color:#fff; }

footer p {  font-size:0.8125rem; color:#fff; }

footer p span { float:right;}

footer a { color:#fff;}

footer a:hover { color:#000;}

footer img { vertical-align:middle;}

footer .accesoperu { margin:0; font-size:0.6875rem; text-align:right;}

footer .accesoperu a { color:#fff;}

footer .accesoperu a:hover { color:#07944a;}

.fa-html5, .fa-css3 { font-size: 0.875rem;}

.fa-html5, .fa-css3 { color:#fff;}

.footer1 {
	background: #000;
	margin:50px 0 0 0;
	padding-top:20px;
}

.footer1 p {
	color:#fff;
}

/* iconos */

.fa-envelope, .fa-caret-right, .fa-phone, .fa-envelope, .fa-map-marker
{ padding:0 4px 0 0; }

/* mapa */

#map-canvas { 
	width:100%;
	height:400px;
	display:block;
	padding:0;
	margin:0 0 40px 0;
}

/* form */

form { padding:0 0 20px 0;}

label {
	display:block;
	padding:3px 0 10px 0;
	font-size:0.9375rem;
}

input[type="text"], textarea[rows], select  {
	font-size:0.9375rem;
	border:none;
	background:#fafafa;
	display:block;
	padding:12px 10px;
	margin:0 0 14px 0;
	width:100%;
	color:#000 !important;
	height:auto;
	box-shadow:none;
	-moz-transition:all 0.3s ease-in;
	-webkit-transition:all 0.3s ease-in;
	-o-transition:all 0.3s ease-in;
	transition:all 0.3s ease-in;
	-ms-transition:all 0.3s ease-in;
	border:1px solid #dbdbdb;
}

input[type="text"]:focus, textarea[rows]:focus, select:focus, select:hover { 
	background:#0052b2;
	color:#fff !important;
	box-shadow:none;
	border:1px solid #0052b2;	
}

/* extra */

.tcenter { text-align:center !important;}

.tright { text-align:right !important;}

.sig { color:#000; margin-top:30px; }

.banner-panel { 
margin:240px 0 0 0; 
padding:20px 20px 0 20px; 
background:rgba(0,0,0,.9);

	-webkit-background: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.3));
	-moz-background: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.3));
	background: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.3));
	
border-bottom:2px solid #0052b2; 
/*box-shadow:0 0 10px rgba(0,0,0,.5);*/
}

.banner-panel p {
	text-align:left;
}

.titu {
	font-size:2rem !important;
	line-height:2.5rem;
	color:#fff !important;
	margin:0 0 20px 0;
	text-transform:uppercase;
	font-weight:800;
	text-transform:uppercase;
	text-shadow:1px 1px 1px #000;
}

.text {
	color:#FFF !important;
	font-size:0.8125rem;
	font-weight:300;
	text-transform:uppercase;
	text-shadow:1px 1px 1px #000;
}

.telf { font-size:1.25rem; margin:20px 0 0 0; color:#1d1d1e; letter-spacing:0.2px; text-transform:uppercase; font-weight:300;  }

.telf span { color:#2e3192 !important; font-size:0.8125rem; letter-spacing:0.7px }

.corre { font-size:0.8125rem; margin:20px 0 8px 0; color:#00628f; text-transform:uppercase;  }

.corre span { color:#000 !important; }

.corre a { color:#00628f; }

.corre a:hover { color:#000; }

.imgcen { background:#FFF; text-align:center; margin:0; }

.imgcen img { width:100%; }

.imgch { max-width:30%; }

.int { padding-top: 0 !important; }

.cab {
	padding:100px 0 100px 0;
    background: url(img/cab.jpg) top center fixed;
    background-size: cover;
	}

.cab h2  { color:#FFF; margin:0; text-shadow: 0px 0px 20px rgba(0,0,0,.4); }

.datos { width:100%; background:#50be90; padding:5px 0 8px 0; }

.datos p { color:#102935; margin:0; font-size:12px; text-transform:uppercase; word-wrap: break-word; }

.esp {
	height:80px;
	width:80px;
	border:1px solid #50be90;
	text-align:center;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	padding-top:26px;
	color:#50be90;
}

/* tablas */

table {
    background: none repeat scroll 0 0 #ededed;
    border: 1px solid #333;
}

table tr th, table tr td {
    border: 1px solid #333;
}

/* paginador */

.breadcrumbs, .breadcrumbs li { border:none; }

.breadcrumbs { background:#f9f9f9; }

.breadcrumbs > * {
    color: #000;
}

.breadcrumbs li { padding:5px 0; }

.catalogo {
	border-bottom:1px dotted #999999;
	border-top:1px dotted #999999;
	padding:20px 0 5px 0;
	margin-bottom:15px;
}


@media only screen and (max-width:800px) {

.banner .text { width:100%; }

/* nav - menu */

#nav { display:none;}

nav {
	position:relative;
	background:#333333;
	padding:0;
}

nav > div > div > a {
	display:block;
	text-align: left;
	color:#fff;
	font-weight:800;
	padding:15px 16px 0 16px;
	font-size:0.875rem;
	height:50px;
	text-align:center;
	text-transform:uppercase;
}

nav ul {
	margin:0;
	padding:0;
	border-left: none;
}

nav li {
	width:100%;
	border-top:1px solid rgba(0,0,0,.2);
}

nav li > ul {
	display:block;
	box-shadow:none;
}

nav li a {
	width:100%;
	text-align:left;
	border-right: none;
}

nav li ul {
	width:100%;
	height:auto;
	position:relative;
	top:0;
	left:0px;
	border:none;
}

nav li li a {
	height:50px;
	width:100%;
	padding-left:50px;
	color:#fff;
	border: none;
}

nav li li a:hover {
	background:#000;
	color:#fff;
	border: none;	
}

nav li ul li ul {
	display:none !important;
}

/* header */

h1 { 
	width:100%; 
	float:auto;
}

h1 > a { 
	width:100%;
	background-position:top center;
}

/* footer */

footer, footer .accesoperu { text-align:left !important;}

.fooba .columns {
	padding-top: 0 !important;
	padding-bottom: 20px !important;
}

.fooba p {
	margin: 0;
}

nav li ul span {
	display:none;
}

}

@media only screen and (max-width:640px) {

#banner {
	height:300px;
}

.slide li {
	height:300px;
	background-size:auto 100% !important;
	background-size:auto 100% !important;
}	

.slogan {
	margin-top:20px;
}


.titu {
	font-size:1.725rem !important;
	line-height:2rem;	
}
	
.datos p { text-align:center; }

.fowid { text-align:center; }

.prev, .next { top:auto; bottom:5px; }

.banner { text-align:center; }

.secimg { 
	float:none;
	padding:0 0 20px 0;
	display:block;
	text-align:center;
	margin:0 auto;
}

aside h3, aside p { text-align:center; }

aside .medium-2 { margin-bottom:20px; text-align:center; }

#slide {
	height:560px;
}

.banner li {
	height:560px;
}

.tright {
    text-align:center !important;
}

table tr th, table tr td {
    font-size: 0.6875rem;
	padding: 0.5625rem 0.5rem;
}

.sig {  margin-top:20px; margin-bottom:0; }

.cab {
	padding:230px 0 50px 0;
	text-align:center;
	}
	
}

#areademapa2 {
   width: 100%;
   height: 400px;
   display: block;
   padding: 0;
   margin: 0 0 20px 0;
}	

.serv {
    text-align: center;
}